<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="sample.common.dao.mapper.TaskMapper">

	<sql id="taskColumns">
		id, username, title, content, assignee, start_date, end_date, created_at, updated_at
	</sql>

    <!-- 一覧取得 (ページング対応)-->
    <select id="findByUsername" resultType="sample.common.dao.entity.Task">
    	SELECT <include refid="taskColumns"/>
    	FROM tasks
    	WHERE username = #{username}
    	ORDER BY id DESC
    	LIMIT #{limit} OFFSET #{offset}
    </select>
    
    <!-- 件数取得 -->
    <select id="countByUsername" resultType="int">
    	SELECT COUNT(*)
    	FROM tasks
    	WHERE username = #{username}
    </select>

    <!-- 1件取得 -->
    <select id="findById" resultType="sample.common.dao.entity.Task">
		SELECT <include refid="taskColumns"/>
		FROM tasks
		WHERE id = #{id}
			AND username = #{username}
	</select>
		
    <!-- 登録 -->
	<insert id="insert">
		INSERT INTO tasks(
			username,
			title,
			content,
			assignee,
			start_date,
			end_date
		)
		VALUES(
			#{username},
			#{title},
			#{content},
			#{assignee},
			#{startDate},
			#{endDate}
		)
	</insert>
	
    <!-- 更新 -->
    <update id="update">
    	UPDATE tasks
    	SET
    		title = #{title},
    		content = #{content},
    		assignee = #{assignee},
    		start_date = #{startDate},
    		end_date = #{endDate}
    	WHERE id = #{id}
    		AND username = #{username}
    </update>

    <!-- 削除 -->
    <delete id="delete">
    	DELETE FROM tasks
    	WHERE id = #{id}
    		AND username = #{username}
    </delete>

</mapper>