<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
	<div class="container form-page">
		<h1>ログイン</h1>
		
		<div class="error-message" th:if="${error}" th:text="${error}"></div>
		<form th:action="@{/login}" method="post">
			<label>ユーザー名：<input type="text" name="username"></label>
			<br>
			<label>パスワード：<input type="password" name="password"></label>
			<br>
			<button type="submit" class="btn-full">ログイン</button>
		</form>
		
		<p><a href="/register">ユーザー登録はこちら</a></p>
	</div>
</body>
</html>